<!DOCTYPE html>
<head>
<body>
        <!-- Contenido principal -->


        <section id="shop-list">
          <div class="mt-1 offset-md-1">
              <div class="row" id="content_shop_products">
                  <!-- Aquí se cargarán los productos dinámicamente -->
              </div>
          </div>
      </section>
  
      <!-- 🔎 DETALLES DEL PRODUCTO (Oculto por defecto) -->
      <section id="details-product" style="display: none;">
          <div class="glider-contain2">
              <div class="product_images" id="container-product-images"></div>
              <button aria-label="Previous" class="glider-prev">«</button>
              <button aria-label="Next" class="glider-next">»</button>
              <div role="tablist" class="dots"></div>
          </div>
          <div class="product_details" id="container-product-details"></div>
      </section>

        <br>
        <br>
</body>
</html>
