<!DOCTYPE html>
<head>
<body>
        <!-- Contenido principal -->



        <br>
        <br>
        <br>
  
        <div class=" mt-1 offset-md-1">
            <div class="row" id="content_shop_products">
    
            </div>
        </div>

        <div id="details-product">
            <div class="glider-contain2">
              <div class="product_images" id="container-product-images"></div>
              <button aria-label="Previous" class="glider-prev">«</button>
              <button aria-label="Next" class="glider-next">»</button>
              <div role="tablist" class="dots"></div>
            </div>
            <div class="product_details" id="container-product-details"></div>
          </div>

        <br>
        <br>
</body>
</html>